:root{
    --rojo:#b11217;
    --negro:#111;
    --gris:#f4f4f4;
    --blanco:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    background:var(--blanco);
    color:#222;
    line-height:1.6;
}

/* HEADER */
header{
    background:var(--rojo);
    position:sticky;
    top:0;
    z-index:100;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:15px;
}

.header-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-area{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo{
    height:65px;
}

.club-name{
    color:white;
    font-weight:bold;
    font-size:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
    font-weight:600;
}

nav a:hover{
    text-decoration:underline;
}

/* HERO */
.hero{
    min-height:70vh;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero-content{
    color:white;
    padding:20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:10px;
    text-transform:uppercase;
}

.hero p{
    font-size:22px;
    opacity:0.95;
}

/* SECCIONES */
.section{
    padding:60px 20px;
    text-align:center;
}

.section h2{
    color:var(--rojo);
    font-size:32px;
    margin-bottom:25px;
    text-transform:uppercase;
}

.section p{
    max-width:850px;
    margin:10px auto;
